.footer-full {
  background-color: #1b414b;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  padding: 0 10px;
}

.footer-button-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 8px;
  color: #fbfbfb;
  background-color: rgba(251, 251, 251, 0.3);
  border: none;
}

.contaiter {
  margin: 0 10px;
}

.footer-button-item {
  min-width: 66px;
  font-family: Inter;
  font-size: 9px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
}

.footer-first-part {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  margin-bottom: 82px;
}

.footer-logo {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: -0.03em;
  text-align: left;
  color: rgba(251, 251, 251, 1);
}

.footer-button-list {
  display: flex;
  gap: 4px;
}

.footer-social-links-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 40px;
}

.footer-social-link-icon {
  fill: #fbfbfb;
}

.footer-social-link-icon:hover,
.footer-social-link-icon:focus {
  fill: rgba(251, 251, 251, 0.8);
}

.footer-slogan {
  margin-bottom: 82px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(251, 251, 251, 1);
}

.footer-yacht-privicy-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: rgba(251, 251, 251, 0.4);
}

@media screen and (min-width: 787px) {
  .contaiter {
    min-width: 738px;
    padding: 0 15px;
  }

  .footer-logo {
    font-size: 20px;
    line-height: 24px;
  }

  .footer-slogan {
    max-height: 640px;
    margin-bottom: 99px;
    font-size: 32px;
    line-height: 32px;
  }
}
